:root{
    --bg-primary: #0F0F0F;
    --bg-seconday: #282828;
    --bg-100: #3500D3;
    --bg-200: #240090;
    --bg-300: #190061;
}

body{
    margin: 0;
    width: auto;
    height: 100vh;
}

.main{
    display: flex;
    width: auto;
    height: 100%;
}

.main input{
    font-weight: 500;
    font-size: 1rem;
    padding: .3rem 0;
    padding-left: 1rem;
    box-sizing: border-box;
    border-radius: 15px;
    border: none;
    background-color: var(--bg-300);
    color: white;
}