:root{
    /* --bg-primary: #1A1A1D;
    --bg-seconday: #4E4E50;
    --bg-100: #C3073F;
    --bg-200: #950740;
    --bg-300: #6f2232; */

    /* --bg-primary: #0C0032;
    --bg-seconday: #282828;
    --bg-100: #3500D3;
    --bg-200: #240090;
    --bg-300: #190061; */

    /* --bg-primary: #C1C8E4;
    --bg-secondary: #8860D0;
    --bg-100: #84CEEB;
    --bg-200: #5AB9EA;
    --bg-300: #5680E9; */

    --bg-primary: #0F0F0F;
    --bg-seconday: #282828;
    --bg-100: #3500D3;
    --bg-200: #240090;
    --bg-300: #190061;
}

body{
    margin: 0;
    width: auto;
    height: 100vh;
}

.main{
    display: flex;
    width: auto;
    height: 100%;
}