.main{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    background-color: var(--bg-primary);
}

.taskbar{
    position: sticky;
    top: 0;
    padding: 3rem;
    display: flex;
    width: auto;
    height: fit-content;
    justify-content: center;
    background: transparent;
}

.container{
    display: flex;
    background-color: var(--bg-100);
    width: 350px;
    height: 50px;
    border-radius: 30px;
    justify-content: space-evenly;
    align-items: center;

}

.scroll{
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.intro{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;

}


.title,
.about,
.feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--bg-primary);
    color: white;
}


.section-title{
    font-size: 2rem;
    text-align: center;
    width: 100%;
}

.title{
    height: calc(100vh - 145px);
    font-size: 13rem;
}

.card{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 3.5rem;
}
.card .left{
    width: auto;
    font-size: 1rem;
}

.card .right{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 450px;
    text-align: center;
}

.card .display{
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    background-color: var(--bg-100);
}

.display .column{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80px;
    height: 200px;
    gap: 1rem;
}

.workout{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    width: 100%;
}

.exercise{
    background-color: var(--bg-200);
    border-radius: 5px;
    width: 80%;
    height: 25px;
}


.join{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.left{
    font-size: 6rem;
    width: 300px;
    color: white;
}

.form{
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.input-container{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input-container input{
    height: fit-content;
    border-radius: 12px;
    padding: .3rem 1rem;
    box-sizing: border-box;
    border: 2px solid grey;
    font-size: 1.5rem;
}

.btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;

}
