.modal.progressCard {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.line-chart {
    margin: auto;

    width: fit-content;
    height: fit-content;
    padding: 1rem;
}

.modal.progressCard button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-100);
    border: none;
    background-color: var(--bg-300);
    font-weight: 600;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: .5rem;
    cursor: pointer;
}

.card-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    text-align: center;
    background-color: var(--bg-100);
    font-weight: 500;
    border-radius: 12px;
    cursor: pointer;
}

.empty {
    background-color: var(--bg-300);
    color: var(--bg-primary);
    cursor: default;
}