.create {
    padding: 1rem;
    box-sizing: border-box;
    background-color: var(--bg-100);
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.modal::backdrop {
    background-color: black;
    opacity: .5;
}

.modal {
    width: 1000px;
    height: 500px;
    background-color: var(--bg-100);
    border-radius: 15px;
}

.create-modal{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.create-modal .input-modal{
    display: flex;

    gap: 1rem;
}

.existing{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 1fr);
}

.select {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--bg-100);
    border-radius: 10px;
    padding: 1rem;
    width: 100px;
    color: white;
    font-weight: 500;

}

.modal .create-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--bg-300);
    border-radius: 10px;
    padding: 1rem;
    width: 100px;
    color: white;
    font-weight: 500;
}