.content-work{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    height: 100%;
}

.main-display{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    gap: 2rem;
}

.list-work{
    width: 100%;
}

.create .container{
    display: flex;
    gap: 1rem;
}