.workout-container{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 200px;
    height: fit-content;
    padding: 1.5rem;
    border-radius: 12px;
    gap: 1rem;
    cursor: pointer;
}

.workout-container .name{
    font-size: 1.5rem;
    font-weight: 600;
}

.workout-container .muscle{
    font-weight:500;
}