.excard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    background-color: var(--bg-100);
    border-radius: 12px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}


.excard.empty{
    font-size: 1rem;
    background-color: var(--bg-300);
    color: var(--bg-primary);
    cursor: default;
}

.extend{
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.extend .title{
    font-size: 1.2rem;
}