.navigation{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1.5rem;
    width: 200px;
    height: 500px;
    border-radius: 12px;
    background-color: var(--bg-200);
}

.card.create-btn{
    background-color: var(--bg-100);
    color: white;
}