.navigation{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 200px;
    height: calc(100%-1rem);
    border-radius: 12px;
    background-color: var(--bg-200);
    justify-content: space-between;
}

.content-navi{
    display: flex;
    flex-direction: column; 
    gap: 1.5rem;
}


.ex-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
}
.card.create-btn{
    background-color: var(--bg-100);
    color: white;
}


.navigation .pagination{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.btn{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--bg-100);
    cursor: pointer;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    justify-self: flex-end;
}

.btn img{
    width: 50%;
    height: auto;
    filter: invert(99%) sepia(0%) saturate(2484%) hue-rotate(37deg) brightness(121%) contrast(100%);
}

.btn .left{
    transform: scaleX(-1);
}