
.exercise-container{
    display: flex;
    gap: 1rem;
}

.section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.remaining{
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    background-color: var(--bg-200);
    border-radius: 10px;
}

.list{
    display: flex;
    width: 1000px;
    height: 500px;
    background-color: var(--bg-200);
    border-radius: 10px;
}

.title{
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1rem;
}

.flex{
    display: flex;
    height: 616px;
    width: 632px;
}