.main{
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-primary);
    background-color: rgb(162, 187, 209);
}

.content{
    width: auto;
    height: 100%;
}