.main{
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-primary);
}

.content{
    width: auto;
    height: 100%;
}

@media screen and (max-width: 500px){
    .content{
        display: flex;
        align-items: center;
    }
}